.calendar {
  background-color: $back;
  border-radius: $borderradius_tiny;
  padding: 3;
}

calendar {
    padding: 3;
    padding-left: 10;
    padding-right: 10;
}

.cal {

  calendar:selected {
    background-color: $secondary;
    color: $primary;
    border-radius: $buttonrounding;
  }

  calendar:indeterminate {

    color: $grey;

  }

  calendar.highlight {
    color: $primary;

  }

}
