.dashboard {
   background-color: rgba(0, 0, 0, 0.266);
}

.grid-children {
   border: 10px;
   border-style: dotted;
}
.grid-class {
   
   border: 10px;
   border-style:solid;
}

.dashboard-buttons {
   border-radius: 0px;
}

.dashboard-buttons:hover {
   background-color: red;
}



// .grid-size {
//    min-width: 100px;
// }