.side_sys_cpu,
.side_sys_mem {
 
  // font-family: JetBrainsMono Nerd Font Mono, sans-serif;

  // font-family: monospace;
  // color: $primary;
  // background-color: $secondary;
  // margin: 20px;
  // font-size: 20rem;
}

// box progressbar trough progress {
//   min-height: 5px;
//   background-color: $primary;
// }
// box progressbar trough {
//   background-color: #4F4639;
//   min-width: 50px;
// }


.metric_icon {
  
  color: $primary;
  margin: 8px;
  font-size: 2rem;
  font-family: JetBrainsMono Nerd Font Mono, monospace;
}

.systray {

}


.background {
    .csd {
	background-color: $back;
	border-radius: $borderradius_tiny;
	menu {
	    //padding: 10px;
	    menuitem {
		padding: 0.1em 0.4em 0.1em 0.4em
	    }
	    menuitem:hover {
		background-color: $secondary;
		border-radius: $button_hover_radius;
	    }
	}
    }
}
