$background-bar: #0b0a10;
$background: #0b0a10;
$widget-background: #111019;


$black:   #282A36;
$red:     #E97193;
$green:   #AAC5A0;
$yellow:  #f6d6b3;
$orange:  #f2c798;
$blue:    #A8C5E6;
$purple:  #DFA7E7;
$purple2: #ecdbee;
$teal:    #72B69C;
$white:   #eae9f0;

$primary:   #ffb97c;
$secondary: #605850;
$tertiary:  #f0db93;

$shadow: rgba(0, 0, 0, 0.3);
$grey: rgba(105, 101, 124, 0.7);
$backgroundcolor: rgba(0, 0, 0, 0.642);
$back: rgba(28, 28, 28, 0.797);
$redish: hsl(351, 57%, 60%);


$buttonrounding: 5px;
$borderradius_tiny: 1rem;



$padding_1: 0.8rem;
$fontsize_regular: 1.6rem;


$button_hover_radius: 1rem;
