.ws-btn:hover {
    background-color: $backgroundcolor;
}

.workspaces button:hover {
    color: $primary;
}

.logo {
    padding: 0 0 0 20px;
}

.ws-btn {
    padding: $padding_1;
}

.focused {
    color: $primary;
}
.occupied {
    color: $orange;
}
.empty {
    color: $grey;
}